Larger buffer size for tls_unique in client/cest.c

While using this reference code, I needed to update the length of tls_unique in client/cest.c to accommodate the byte length returned by SSL_get_peer_finished/SSL_get_finished when using TLSv1.3 on the server. 

Section 3.5 of RFC 7030 notes that the challenge-password field can be up to 255 bytes in length (although this does include the base64 encoding). I would nevertheless propose the size of tls_unique be lifted from 32 to 255 bytes. 